<!--
SPDX-FileCopyrightText: 2021 Alliander N.V.

SPDX-License-Identifier: CC-BY-4.0
-->

<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}/public/compas-horizontal-color.svg"/>
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/FUNCTIONAL_ARCHITECTURE.html' %} active{% endif %}" href="{{ site.baseurl }}/FUNCTIONAL_ARCHITECTURE.html">Functional Architecture</a>
      <ul class="nav-list ">
        <li class="nav-list-item">
          <a class="sidebar-nav-item{% if page.url == '/CIM_61850_MAPPING.html' %} active{% endif %}" href="{{ site.baseurl }}/CIM_61850_MAPPING.html">SSD Import from CIM</a>
        </li>
      </ul>
      <a class="sidebar-nav-item{% if page.url == '/technical/TECHNICAL_ARCHITECTURE.html' %} active{% endif %}" href="{{ site.baseurl }}/technical/TECHNICAL_ARCHITECTURE.html">Technical Architecture</a>
      <ul class="nav-list ">
        <li class="nav-list-item">
          <a class="sidebar-nav-item{% if page.url == '/technical/XSD_EXTENSIONS.html' %} active{% endif %}" href="{{ site.baseurl }}/technical/XSD_EXTENSIONS.html">XSD Extensions</a>
        </li>
      </ul>
      <a class="sidebar-nav-item{% if page.url == '/DATABASE_MANAGEMENT.html' %} active{% endif %}" href="{{ site.baseurl }}/DATABASE_MANAGEMENT.html">Database Management</a>
      <a class="sidebar-nav-item{% if page.url == '/ISSUE_MANAGEMENT.html' %} active{% endif %}" href="{{ site.baseurl }}/ISSUE_MANAGEMENT.html">Issue Management</a>
      <a class="sidebar-nav-item{% if page.url == '/TECHNOLOGY.html' %} active{% endif %}" href="{{ site.baseurl }}/TECHNOLOGY.html">Technology</a>
      <a class="sidebar-nav-item{% if page.url == '/GLOSSARY.html' %} active{% endif %}" href="{{ site.baseurl }}/GLOSSARY.html">Glossary</a>

      <a class="sidebar-nav-item{% if page.url == '/archive/ARCHIVE.html' %} active{% endif %}" href="{{ site.baseurl }}/archive/ARCHIVE.html">Archive</a>
    </nav>

    <p>Currently v{{ site.version }}</p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
